Repository codepandoradev/nft-marketplace-api, pull requests merged in 2022-12, with the labels that each got.

#106 cicd-1
  .github/auto_assign.yml
  .github/workflows/pr-check_labels.yml
Labels: area:devops, cicd

#108 deploy-envs
  .github/workflows/call-deploy_stage.yml
Labels: area:devops, cicd

#109 sentry-release
  .github/workflows/call-sentry_release.yml
  .github/workflows/push-master.yml
Labels: area:devops, cicd

#112 #79 change 2nd game add points logic
  app/games/actions/add_points.py
  app/users/migrations/0011_alter_user_second_score.py
  app/users/models/_user.py
Labels: task, area:api

#113 Task 79 bugfix
  app/games/actions/add_points.py
  app/users/migrations/0012_alter_user_second_score.py
  app/users/models/_user.py
Labels: bug, area:api

#110 packages
  .github/workflows/call-build.yml
  .github/workflows/call-ci.yml
  .github/workflows/call-deploy_prod.yml
  .github/workflows/call-deploy_stage.yml
  .github/workflows/push-master.yml
  .github/workflows/push-tag.yml
  .run/dev.run.xml
  .run/prod.run.xml
  .run/stage.run.xml
  .run/test.run.xml
  api/settings.py
  docker/docker-compose.base.yml
  docker/docker-compose.dev.yml
  docker/prod/docker-compose.prod.yml
  docker/stage/docker-compose.stage.yml
  docker/test/docker-compose.test.yml
Labels: area:api, area:devops, cicd

#115 cicd-2
  .github/auto_assign.yml
  .github/workflows/call-check_health.yml
  .github/workflows/call-release_draft.yml
  .github/workflows/cron-check_health.yml
  .github/workflows/pr-assign.yml
  .github/workflows/push-master.yml
  .github/workflows/push-tag.yml
Labels: area:devops, cicd

#111 task-98
  .github/auto_assign.yml
  .github/workflows/call-check_health.yml
  .github/workflows/call-release_draft.yml
  .github/workflows/cron-check_health.yml
  .github/workflows/pr-assign.yml
  .github/workflows/push-master.yml
  .github/workflows/push-tag.yml
Labels: test, area:tests

#97 task-74
  api/asgi.py
  api/settings.py
  app/base/urls.py
  app/messenger/actions/direct/messages/general.py
  app/messenger/migrations/0001_initial.py
  app/messenger/migrations/0003_alter_message_sent_at.py
  app/messenger/models/_message.py
  app/messenger/serializers/direct/messages/general.py
  app/messenger/tests/__init__.py
  app/messenger/tests/factories/__init__.py
  app/messenger/tests/factories/message.py
  app/messenger/tests/views/__init__.py
  app/messenger/tests/views/direct/__init__.py
  app/messenger/tests/views/direct/messages/__init__.py
  app/messenger/tests/views/direct/messages/test.py
  app/messenger/urls.py
  app/messenger/views/direct/messages/general.py
  app/users/views/web3/force_login.py
  codecov.yml
  docker/stage/docker-compose.stage.yml
  envs/.base.env
  envs/.prod.example.env
  envs/.stage.example.env
  gunicorn/config.py
  nginx/nginx.prod.conf.conf
  nginx/nginx.stage.conf.conf
  requirements.txt
Labels: task, area:requirements, area:api, area:tests, area:devops

#118 issue-project
  .github/workflows/issue-add_project.yml
Labels: area:devops, cicd

#129 task-128
  .github/workflows/pr-automerge.yml
  .github/workflows/pr-check_labels.yml
Labels: area:devops, cicd

#137 task-136
  .github/release-drafter.yml
Labels: area:devops, cicd

#139 task-138
  .github/workflows/call-ci.yml
  .github/workflows/call-update_prs.yml
  .github/workflows/push-master.yml
  .github/workflows/push-not-master.yml
  app/base/exceptions/handler.py
  app/base/parsers/orjson.py
  app/base/views/echo.py
Labels: area:devops, cicd, area:app:base

#143 task-142
  api/asgi.py
  app/base/permissions/base.py
  app/collections/filtersets/__init__.py
  app/collections/filtersets/general.py
  app/collections/serializers/__init__.py
  app/collections/serializers/general.py
  app/collections/tests/views/test_general.py
  app/collections/views/general.py
  app/messenger/tests/views/direct/messages/test.py
Labels: task, area:api, area:tests, area:app:base, area:app:collections, area:app:messenger

#144 squash-to-merge
  .github/workflows/pr-automerge.yml
Labels: area:devops, cicd

#147 task-145
  .github/workflows/pr-automerge.yml
  .github/workflows/push-create_pr.yml
Labels: area:devops, cicd

#152 task-150
  .github/release-drafter.yml
Labels: area:devops, cicd

#170 task-159
  app/users/filtersets/__init__.py
  app/users/filtersets/general.py
  app/users/serializers/general.py
  app/users/tests/views/test_general.py
  app/users/urls.py
  app/users/views/__init__.py
  app/users/views/general.py
Labels: task, area:tests, area:app:users
